{% extends 'base.html.twig' %}

{% block title %}Hello PerruquesSansColleController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-8">


				<br/>
				<img src="{{ asset('images/image138.jpg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<br/>
				<img src="{{ asset('images/image144.jpg') }}" class="d-block w-50" alt="..."/>


			</div>
		</div>

	</section>


{% endblock %}
