{% extends 'base.html.twig' %}

{% block title %}Modification de commande{% endblock %}

{% block body %}
    <h1>Modification de commande</h1>

    {{ include('commande_crud/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_commande_crud_index') }}">Retour à la liste</a>

    {{ include('commande_crud/_delete_form.html.twig') }}
{% endblock %}
