{% extends 'base.html.twig' %}

{% block title %}Modifier un Produit{% endblock %}

{% block body %}
    <h1>Modifier un Produit</h1>

    {{ include('produit_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_crud_index') }}">Retour a la liste</a>

    {{ include('produit_crud/_supprimer_form.html.twig') }}
{% endblock %}
