{% extends 'base.html.twig' %}

{% block title %}Hello Pack3BundleController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-6">


				<br/>
				<img src="{{ asset('images/bundle1.jpg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<img src="{{ asset('images/bundle2.jpg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<img src="{{ asset('images/bundle3.jpg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>
	</section>

{% endblock %}
