{% extends 'base.html.twig' %}

{% block title %}Hello Pack3BundlePlusClosureController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-6">


				<br/>
				<img src="{{ asset('images/closure1.jpg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<img src="{{ asset('images/closure2.jpg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<img src="{{ asset('images/closure3.jpg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>
	</section>


{% endblock %}
